<mat-card>
  <mat-card-content>
    <div class="container">
      <swipelist [items]="getImages(productItem)"></swipelist>
      <div>
        <h2 style="text-align: center">{{ productItem.title }}</h2>
        <p>{{ productItem.description }}</p>
        <h1>{{ productItem.total }} грн.</h1>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="addToCart(productItem)">
      Додати у кошик {{ productItem.total }} грн.
    </button>
  </mat-card-actions>
</mat-card>
