<h2 style="text-align: center;">Ліхтар</h2>


<div class="container" style="display: flex; flex-direction: row;">
    <img src="./assets/fire.png" alt="" style="width: 200px; height: 200px;">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quisquam dolor accusamus praesentium fuga non?
        Exercitationem explicabo adipisci voluptatibus odit aliquam, excepturi odio non autem quae commodi nobis dolore
        quaerat.</p>
        
    </div>
    <button class="btn btn-dark">
        Додати у кошик
    </button>
    