
// .number {
//   display: flex;
//   flex-direction: column;
//   color: white;
//   padding-top: 13px;
// }


.number {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 13px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}


// .container {
//   display: flex;
//   // flex: 1;
//   max-width: 800px;
//   margin: auto;
// }

.card {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
mat-card-actions{
  justify-content: center;
}
.meest{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  img{
    width: 100px;
    height: 70px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: auto;
  >*{
    flex:3;
  }
  >*:first-child {
    flex:1;
}
}

    // swipelist{
    //   width: 100%;
    //   height: 70%;
    // }