.number {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 13px;
  }
  .toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
  }