<mat-card>

  <mat-card-content>

    <div
      class="container"
      style="display: flex; flex-direction: row;">
      <img
        [src]="productItem.image"
        alt
        style="width: 200px; height: 200px;">
      <div>
        <h2 style="text-align: center;">{{productItem.title}}</h2>
        <p>{{productItem.description}}</p>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      class="btn btn-dark"
      (click)="addToCart(productItem)">
      Додати у кошик
    </button>
  </mat-card-actions>
</mat-card>
