<div class="cart-top container-fluid">
    <div class="container d-flex">
        <div class="items">
            <a routerLink="/products">
                <img src="/assets/cart1.png">
                <h6>Всі товари</h6>
            </a>
        </div>
        <div class="items">
            <a routerLink="/products/Електроніка">
                <img src="/assets/lamp.png">
                <h6>Електроніка</h6>
            </a>
        </div>
        <div class="items">
            <a routerLink="/products/Одяг">
                <img src="/assets/dress.png">
                <h6>Одяг</h6>
            </a>
        </div>
        <div class="items">
            <a routerLink="/products/Подарунки">
                <img src="/assets/gift.png">
                <h6>Подарунки</h6>
            </a>
        </div>
        <div class="items">
            <a routerLink="/products/Обігрівачі">
                <img src="/assets/gift.png">
                <h6>Обігрівачі/Плити</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList; let idx = index">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="" [routerLink]="'/lot/' + idx">
                <h5 class="itemdata">{{item.title}}</h5>
                <p class="itemdata">{{item.description}}</p>
                <p><strong>Ціна:</strong> {{item.price}} грн.</p>
                <p>{{item.category}}</p>
                <button class="btn btn-dark" (click)="addToCart(item)">
                    Додати у кошик
                </button>
            </div>
        </ng-container>

    </div>

</div>