
<!-- <div class="toolbar"> -->

    <!-- <mat-toolbar style="background-color: black;">
        <strong style="font-size: 30px; color: white; cursor: pointer;" routerLink="/products">Podlivka store</strong> -->

    <!-- <div class="number">
        <div>
            <h4>+38(066)-842-03-91</h4>

        </div>
        <div>

            <h4>+38(050)-074-03-11</h4>
        </div>

    </div> -->
    <!-- <div class="number">
        <h4>+38(066)-842-03-91</h4>
        <h4>+38(050)-074-03-11</h4>
    </div>
    <span style="flex: 1 auto;"></span>

    <button routerLink="/cart" mat-fab matTooltip="Accent" color="accent" style="margin-right: 10px;">
        <mat-icon>shopping_cart</mat-icon>
        <div>{{totalItemNumber}}</div>
    </button>
</mat-toolbar> -->
<!-- </div> -->


<!-- <img src="/assets/flag.png" alt="" class="podlivka"> -->
<div class="first">
    <button routerLink="/products">
        <img src="/assets/cart.png">
        <h6>Всі товари</h6>
    </button>


    <button routerLink="/products/Електроніка">
        <img src="/assets/lamp.png">
        <h6>Електроніка</h6>
    </button>


    <button routerLink="/products/Одяг">
        <img src="/assets/dress.png">
        <h6>Одяг</h6>
    </button>


    <button routerLink="/products/Подарунки">
        <img src="/assets/gift.png">
        <h6>Подарунки</h6>
    </button>


    <button routerLink="/products/Обігрівачі">
        <img src="/assets/house.png">
        <h6>Обігрівачі/Плити</h6>
    </button>


</div>



<div class="card">

    <mat-card class="example-card" *ngFor="let item of productList;">
        <mat-card-header>
            <div class="header-image">
                <img mat-card-image [src]="getImage(item)"
                    [alt]="item.title"
                    [title]="item.title"
                    [routerLink]="'/lot/' + item.id">
            </div>
        </mat-card-header>
        <mat-card-title style="text-align: center;">{{item.title}}</mat-card-title>
        <mat-card-subtitle style="text-align: center;">{{item.category}}</mat-card-subtitle>
        <mat-card-content style="text-align: center;">
            {{item.short_description}}
        </mat-card-content>
        <strong>Ціна: {{item.price}} грн.</strong>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="addToCart(item)">
                Додати у кошик
            </button>

        </mat-card-actions>
    </mat-card>

</div>
