.first {
    display: flex;
    flex-direction: row;
    background-color: white;
    // background-clip: border-box;
    // position: relative;
    // flex-direction: column;
    // border: 1px solid black;
    // border-radius: .25rem;
}

.choose {
    margin: 0px 15px;
    text-align: center;
    color: black;
  
    
}
.choose button{
    border: 0px;
    background-color: white;
}

.choose img {
    width: 65px;
    
}

img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.5)
}

.itemdata {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    
}
.card{
    padding: 45px;
    margin: 0px;
}
.card img{
    width: 15vw;
    height: 35vh;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1)
}
.number {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 13px;
}
.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}