
<ng-container *ngIf="products.length !=0">

  <div>
    <!-- <thead>
      <tr>
        <th>№</th>
        <th>Назва товару</th>
        <th>Фото товару</th>
        <th>Ціна</th>
        <th>Опис</th>
        <th>Кількість</th>
        <th>Дія</th>
      </tr>
    </thead> -->
    <div class="list-container">
      <mat-card class="card" *ngFor="let item of products, let i = index" >
        <!-- <div>{{i + 1}}</div> -->
        <!-- <div>{{item.title}}</div> -->
        <div>
          <img [src]="getImage(item)"
          [alt]="item.title"
          [title]="item.title" style="width: 100px; height: 100px;">
        </div>
        <div style="text-align: center;">{{item.price}} грн.</div>
        <!-- <div>{{item.description}}</div> -->
        <!-- <div style="text-align: center;">1</div> -->
        <div>
          <form style="display: flex;">
            <button mat-icon-button color="warn" (click)="removeProduct(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </form>
        </div>
      </mat-card>
      <div class="btn-collection">
        <!-- <td colspan=""></td> -->
          <button  mat-raised-button color="accent" (click)="removeAllProduct()">
            {{"clear" | translate}}
          </button>
          <button  mat-raised-button color="accent" routerLink="/products">
            {{"buyAlso" | translate}}
          </button>
          <button  mat-raised-button color="primary" (click)="buyNow()">{{"buyNow" | translate}}</button>
          <!-- <app-buy></app-buy> -->
          <strong>{{"total" | translate}}: ₴{{allProducts}}</strong>

        </div>
    </div>
  </div>

</ng-container>
<div class="emptyCart">

  <div *ngIf="products.length == 0" class="empty">
    <h4>{{"myCart" | translate}}</h4>
    <img src="/assets/empty.png" alt>
    <h5>{{"emptyCart" | translate}}</h5>
    <!-- <h6>Добавити зараз</h6> -->
    <button mat-raised-button color="primary" routerLink="/products">
      {{"BUY" | translate}}
    </button>
  </div>
</div>
