<mat-toolbar class="toolbar">
  
  <strong style="font-size: 30px; color: white; cursor: pointer;" routerLink="/products">Podlivka store</strong>

  <!-- <div class="number">

    <h4>+38(066)-842-03-91</h4>
    <h4>+38(050)-074-03-11</h4>
  </div> -->
<span style="flex: 1 1 auto;"></span>

  <button routerLink="/cart" mat-fab matTooltip="Accent" color="accent"  class="example-icon">
    <mat-icon>shopping_cart</mat-icon>
    <div>{{totalItemNumber}}</div>
  </button>
</mat-toolbar>
<ng-container *ngIf="products.length !=0">

  <div>
    <!-- <thead>
      <tr>
        <th>№</th>
        <th>Назва товару</th>
        <th>Фото товару</th>
        <th>Ціна</th>
        <th>Опис</th>
        <th>Кількість</th>
        <th>Дія</th>
      </tr>
    </thead> -->
    <div class="list-container">
      <mat-card class="card" *ngFor="let item of products, let i = index" >
        <!-- <div>{{i + 1}}</div> -->
        <!-- <div>{{item.title}}</div> -->
        <div>
          <img [src]="item.image" alt style="width: 80px; height: 80px;">
        </div>
        <div style="text-align: center;">{{item.price}} грн.</div>
        <!-- <div>{{item.description}}</div> -->
        <!-- <div style="text-align: center;">1</div> -->
        <div>
          <form style="display: flex;">
            <button mat-icon-button color="warn" (click)="removeProduct(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </form>
        </div>
      </mat-card>
      <div class="btn-collection">
        <!-- <td colspan=""></td> -->
          <button  mat-raised-button color="accent" (click)="removeAllProduct()">
            Очистити
          </button>
          <button  mat-raised-button color="accent" routerLink="/products">
            Купити ще
          </button>
          <button  mat-raised-button color="primary" (click)="buyNow()">Придбати зараз</button>
          <!-- <app-buy></app-buy> -->
          <strong>Всього: ₴{{allProducts}}</strong>
        
        </div>
    </div>
  </div>

</ng-container>
<div class="emptyCart">

  <div *ngIf="products.length == 0" class="empty">
    <h4>Мій кошик</h4>
    <img src="/assets/empty.png" alt>
    <h5>Ваш кошик пустий</h5>
    <!-- <h6>Добавити зараз</h6> -->
    <button mat-raised-button color="primary" routerLink="/products">
      Купити зараз
    </button>
  </div>
</div>