<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <mat-icon style="font-size: 30px;">store</mat-icon> &nbsp; &nbsp;
            <strong style="font-size: 20px;">Podlivka_store</strong>
            <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Пошук товару">
            </div> -->
            
        </div>
        <button routerLink="cart" class="btn btn-dark">
            <mat-icon style="font-size: 28px;">shopping_cart</mat-icon>
            <div class="badge bg-danger">{{totalItemNumber}}</div>
        </button>
    </div>
</header>