<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 35px;" class="fas fa-shipping-fast"></i> &nbsp;
            <strong style="font-size: 25px;">Podlivka_store</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Пошук товару">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
        <button routerLink="cart" class="btn btn-dark">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div class="badge bg-danger">{{totalItemNumber}}</div>
        </button>
    </div>
</header>