<div style="padding: 2rem;     max-height: 100vh;">

    <div class="example-form" style="display: flex; flex-direction: column;">
        <mat-form-field class="example-full-width">
            <mat-label>{{"pib" | translate}}</mat-label>
            <input type="text" [(ngModel)]="name" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Телефон</mat-label>
            <span matPrefix>+38 &nbsp;</span>
            <input type="tel"  [(ngModel)]="phone" matInput placeholder="099-999-9999">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>{{"city" | translate}}</mat-label>
            <input type="text" [(ngModel)]="city" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>{{"viddilenya" | translate}}</mat-label>
            <input type="tel" [(ngModel)]="deliveryNumber" matInput>
        </mat-form-field>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliveryCompany">
            <mat-radio-button value="Нова пошта" [checked]="true">{{"novaP" | translate}}</mat-radio-button>
            <mat-radio-button value="MeestExpress">MeestExpress</mat-radio-button>
          </mat-radio-group>
          <strong style="text-align: center;">{{"predoplata" | translate}}</strong>
        <br>
        <button  mat-raised-button color="primary"  (click)="buy()">{{"buyAll" | translate}}</button>
    </div>

</div>
<!-- <mat-form-field class="example-full-width">
    <mat-label>Город</mat-label>
    <input type="text" matInput placeholder="Город/Населений пункт">
</mat-form-field>
<mat-form-field class="example-full-width">
    <mat-label>№ відділеня, куди доставляти </mat-label>
    <input type="number" matInput placeholder="№ відділеня">
</mat-form-field>
<mat-radio-group aria-label="Як Вам доставити покупку?">
    <mat-radio-button value="1">Нова пошта </mat-radio-button>
    <mat-radio-button value="2">MeestExpress</mat-radio-button>
    <mat-radio-button value="3">Самовивіз(Одеса)</mat-radio-button>
</mat-radio-group>
<br> -->
<!-- <h5>Шановний кліент! У зв'язку з важкою ситуацією у страні ми відправляємо замовлення тільки по передоплаті, яка
    становить лише 100грн! З повагою, Ваша Podlivka_store! Все буде Україна!</h5> -->
