<div class="card">

  <mat-card class="example-card" *ngFor="let item of productList;">
      <mat-card-header>
          <div class="header-image">
              <img mat-card-image [src]="getImage(item)" [alt]="item.title" [title]="item.title"
                  [routerLink]="'/lot/' + item.id">
          </div>
      </mat-card-header>
      <p>{{item.top}}</p>
      <mat-card-title style="text-align: center;">{{item.title}}</mat-card-title>
      <mat-card-subtitle style="text-align: center;">{{item.category}}</mat-card-subtitle>
      <!-- <mat-card-content style="text-align: center;">
          {{item.short_description}}
      </mat-card-content> -->
      <strong>Ціна: {{item.price}} грн.</strong>
      <mat-card-actions>
          <button mat-raised-button color="accent" (click)="addToCart(item)">
              Додати у кошик
          </button>

      </mat-card-actions>
  </mat-card>
  <!-- <button mat-mini-fab color="accent" class="btn">
      <mat-icon>phone</mat-icon>
    </button> -->

</div>