<div class="cs">
    <h2>{{"gar" | translate}}</h2>
    <p>{{"gar1" | translate}}
    </p>
    <p>{{"gar2" | translate}}<br>{{"gar3" | translate}}<br>{{"gar4" | translate}}</p>
    <ul>
        <li>{{"gar5" | translate}}</li>
        <li>{{"gar6" | translate}}</li>
        <li>{{"gar7" | translate}}</li>
    </ul>
    <p>{{"gar8" | translate}}</p>
    <p>{{"gar9" | translate}}</p>
    <p>{{"gar10" | translate}}</p>
    <h2>{{"gar11" | translate}}</h2>
    <p>{{"gar12" | translate}}</p>
    <ul>
        <li>{{"gar13" | translate}}</li>
        <li>{{"gar14" | translate}}</li>
        <li>{{"gar15" | translate}}</li>
        <li>{{"gar16" | translate}}</li>
    </ul>

</div>