<div class="wp_editor_styles">
    <h2>Гарантія</h2>
    <p>Всі товари в інтернет-магазині podlivka.com.ua мають сертифікати та висновки для продажу на території України.
    </p>
    <p>Гарантія на товар надається залежно з його характеристик, умов експлуатації.
        Гарантійний термін зазначається у паспорті продукції або будь-якому іншому документі, що додається до продукції
        (гарантійний талон).
        Згідно з правилами виробника, на деякі види товарів термін гарантії встановлюється відповідно до законодавства
        України.<br>Підставою для ремонту на гарантійній основі є правильно заповнений, без поправок, гарантійний талон
        виробника, а також документи, що підтверджують факт покупки.<br>У разі виявлення протягом встановленого
        гарантійного строку недоліків споживач у порядку та у строки, встановлені законодавством України, має право
        вимагати:</p>
    <ul>
        <li>пропорційного зменшення ціни</li>
        <li>безоплатного усунення недоліків товару у розумний термін</li>
        <li>відшкодування витрат усунення недоліків товару.</li>
    </ul>
    <p>Обмін або повернення товару за гарантією можливе лише у випадку, якщо протягом гарантійного строку нестача товару
        виявилася істотною, що підтверджується висновком експертизи або висновком сервісного центру.</p>
    <p>Вимоги споживача не підлягають задоволенню, якщо продавець, виробник чи підприємство доведуть, що недоліки товару
        виникли внаслідок порушення споживачем правил користування товаром або його зберігання.</p>
    <p>Докладніші умови гарантій та гарантійного обслуговування (ремонту) зазначаються у паспорті на продукцію чи іншому
        документі, що додається до товару.</p>
    <h2>Обмін та повернення товару належної якості</h2>
    <p>Обмін та повернення товару належної якості, придбаного в інтернет-магазині podlivka.com.ua відбувається відповідно
        до Закону України «Про захист прав споживачів». Обмінювати або повернути товар можна протягом 14 днів, якщо
        товар не задовольнив покупця за формою, габаритами, фасоном, кольором, розміром або з інших причин не може бути
        ним використаний за призначенням та за умови, що:</p>
    <ul>
        <li>товар не використовувався</li>
        <li>збережено його товарний вигляд</li>
        <li>збережені споживчі властивості, пломби, ярлики</li>
        <li>є розрахунковий документ, виданий споживачеві разом із проданим товаром.</li>
    </ul>

</div>