<div class="cs"><a class="cs-online-edit__link" data-edit-role="pageInfo" data-edit-id="96318"
        title="Редактировать информацию" style="display:none"></a><a class="cs-online-edit__horizontal-borders"
        data-edit-role="pageInfo" data-edit-id="96318" style="display:none"></a><a
        class="cs-online-edit__vertical-borders" data-edit-role="pageInfo" data-edit-id="96318"
        style="display:none"></a>
    <div class="b-user-content">
        <h2>{{"of1" | translate}}</h2>
        <p><strong>{{"of2" | translate}}</strong></p>
        <p>{{"of3" | translate}}</p>
        <p>{{"of4" | translate}}</p>
        <h2><strong>{{"of5" | translate}}</strong></h2>
        <p>{{"of6" | translate}}</p>
        <p>{{"of7" | translate}}</p>
        <p>{{"of8" | translate}}</p>
        <p>{{"of9" | translate}}</p>
        <p>{{"of10" | translate}}</p>
        <p>{{"of11" | translate}}</p>
        <h2><strong>{{"of12" | translate}}</strong></h2>
        <p>{{"of13" | translate}}</p>
        <p>{{"of14" | translate}}</p>
        <p>{{"of15" | translate}}</p>
        <p>{{"of16" | translate}}</p>
        <p>{{"of17" | translate}}</p>
        <p>{{"of18" | translate}}</p>
        <h2><strong>{{"of19" | translate}}</strong></h2>
        <p>{{"of20" | translate}}</p>
        <p>{{"of21" | translate}}</p>
        <p>{{"of22" | translate}}</p>
        <p>{{"of23" | translate}}</p>
        <h2><strong>{{"of24" | translate}}</strong></h2>
        <p><strong>{{"of25" | translate}}</strong></p>
        <p>{{"of26" | translate}}</p>
        <p>{{"of27" | translate}}</p>
        <p><strong>{{"of28" | translate}}</strong></p>
        <p>{{"of29" | translate}}</p>
        <p>{{"of30" | translate}}.</p>
        <p><strong>{{"of31" | translate}}</strong></p>
        <p>{{"of32" | translate}}</p>
        <p>{{"of33" | translate}}</p>
        <p>{{"of34" | translate}}</p>
        <p>{{"of35" | translate}}</p>
        <p>{{"of36" | translate}}</p>
        <p>{{"of37" | translate}}</p>
        <p>{{"of38" | translate}}</p>
        <p>{{"of39" | translate}}</p>
        <h2>{{"of40" | translate}}</h2>
        <p>{{"of41" | translate}}</p>
        <p>{{"of42" | translate}}</p>
        <p>{{"of43" | translate}}</p>
        <p> {{"of44" | translate}}</p>
        <p>{{"of45" | translate}}</p>
        <p>{{"of46" | translate}}</p>
        <p>{{"of47" | translate}}</p>
        <p>{{"of48" | translate}}</p>
        <p>{{"of49" | translate}}</p>
        <p>{{"of50" | translate}}</p>
        <p>{{"of51" | translate}}</p>
        <h2>{{"of52" | translate}}</h2>
        <p>{{"of53" | translate}} <a href="https://podlivka.com.ua/"
                target="_blank">https://podlivka.com.ua/</a></p>
        <p>{{"of54" | translate}}</p>
        <p>{{"of55" | translate}}</p>
        <p>{{"of56" | translate}}</p>
        <p>{{"of57" | translate}}</p>
        <p>{{"of58" | translate}}</p>
        <p>{{"of59" | translate}}</p>
        <h2>{{"of60" | translate}}</h2>
        <p>{{"of61" | translate}}</p>
        <p>{{"of62" | translate}}</p>
        <p>{{"of63" | translate}}</p>
        <h2>{{"of64" | translate}}</h2>
        <p>{{"of65" | translate}}</p>
        <p>{{"of66" | translate}}</p>
        <p>{{"of67" | translate}}</p>
        <p>{{"of68" | translate}}&nbsp;<a
                href="https://podlivka.com.ua/" target="_blank">https://podlivka.com.ua</a>{{"of69" | translate}}</p>
    </div>

</div>