<div class="head">

  <mat-toolbar class="toolbar">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="ua">UA</mat-button-toggle>
        <mat-button-toggle value="ru">RU</mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-menu-item [matMenuTriggerFor]="products">

        Товари

        <mat-icon>category</mat-icon>

      </button>
      <mat-menu #products="matMenu">
        <button mat-menu-item routerLink="/products">
          Всі товари
          <mat-icon>category</mat-icon>
        </button>
        <button mat-menu-item routerLink="/products/Електроніка">
          Електроніка
          <mat-icon>wb_incandescent</mat-icon>
        </button>
        <button mat-menu-item routerLink="/products/Одяг">
          Одяг
          <mat-icon>accessibility_new</mat-icon>
        </button>
        <button mat-menu-item routerLink="/products/Подарунки">
          Подарунки
          <mat-icon>card_giftcard</mat-icon>
        </button>
        <button mat-menu-item routerLink="/products/Обігрівачі">
          Обігрівачі\Плити
          <mat-icon>wb_sunny</mat-icon>
        </button>
      </mat-menu>
      <button mat-menu-item routerLink="/top">

        Топ продаж
        <mat-icon>attach_money</mat-icon>
      </button>
      <button mat-menu-item routerLink="/products/Одяг">

        Новинки
        <mat-icon>fiber_new</mat-icon>
      </button>
      <button mat-menu-item routerLink="/about-us">

        Про нас
        <mat-icon>home</mat-icon>
      </button>
      <div class="line">
        <img src="assets/line.png" alt="" style="width: 280px; height: 10px;">
      </div>
      <button mat-menu-item routerLink="/back">
        Умови повернення та обміну
        <mat-icon>cached</mat-icon>
      </button>
      <button mat-menu-item routerLink="/mastercard">

        Способи оплати
        <mat-icon>credit_card</mat-icon>
      </button>
      <button mat-menu-item routerLink="/delivery">

        Умови доставки
        <mat-icon> departure_board</mat-icon>
      </button>
      <button mat-menu-item routerLink="/garant">

        Гарантії
        <mat-icon>assignment_turned_in</mat-icon>
      </button>
      <button mat-menu-item routerLink="/terms">

        Договір оферти
        <mat-icon>assignment_late</mat-icon>
      </button>
      <div class="line">
        <img src="assets/line.png" alt="" style="width: 280px; height: 10px;">
      </div>
      <div class="tel">
        <a href ="tel:+380500740311">+38(050)-074-03-11</a>
      </div>
      <div class="line">
        <img src="assets/line.png" alt="" style="width: 280px; height: 10px;">
      </div>



    </mat-menu>

    <strong style="font-size: 18px; color: black; cursor: pointer" routerLink="/products/Подарунки">Магазин "Podlivka"</strong>

    <!-- <div class="number">

        <h4>+38(066)-842-03-91</h4>
        <h4>+38(050)-074-03-11</h4>
    </div> -->
    <span style="flex: 1 1 auto"></span>


    <!-- <mat-icon color="accent">>phone</mat-icon> -->


    <!-- <span style="flex: auto"></span> -->



    <button routerLink="/cart" mat-mini-fab matTooltip="Accent" color="accent">
      <mat-icon>shopping_cart</mat-icon>
      <div>{{ totalItemNumber }}</div>
    </button>




  </mat-toolbar>

  <router-outlet></router-outlet>


  <span style="flex: 1 1 auto;"></span>

  <div class="footer">

    <h4><a href="tel:+380668420391">+38(066)-842-03-91</a></h4>
    <h4><a href="tel:+380500740311">+38(050)-074-03-11</a></h4>
    <!-- <span routerLink="/back" style="cursor: pointer;">Умови повернення та обміну</span>
    <span routerLink="/mastercard" style="cursor: pointer;">Способи оплати</span>
    <span routerLink="/delivery" style="cursor: pointer;">Умови доставки</span>
    <span routerLink="/terms" style="cursor: pointer;">Договір оферти</span>
    <span routerLink="/garant" style="cursor: pointer;">Гарантії</span> -->
    <!-- <img src="/assets/logos/Meest_Corporation_logo.svg.png" >
    <img src="/assets/logos/Nova_Poshta_2022_logo.png" > -->
  </div>
</div>
