.toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  background-color: black;
}

.footer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  > * {
    margin: 1rem;
    max-height: 40px;
  }
  h4 a {
    color: white;
    text-decoration: none;
  }
}

.head {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: sticky;
  top: 1px;
  // z-index: 999999;
}
.example-icon {
  color: white;
}
