.toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  top: 0px;
  position: sticky !important;
  z-index: 9999;
  // justify-content: space-between;
  background-color: transparent;
}
.tel{
 a{
  color: black;
  background-color: white;
  text-decoration: none;
  padding-left: 50px;
 }
}

.footer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
  > * {
    margin: 1rem;
    max-height: 40px;
  }
  h4 a {
    color: white;
    text-decoration: none;
  }
}

.head {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
  // z-index: 999999;
}
.example-icon {
  color: white;
}
@media all and (max-width: 540px){
  
}