.toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  background-color: black;
}

.footer {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  >* {
    margin: 1rem;
    max-height: 40px;
  }
}

.head {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
