<div data-qaid="about_us_content"
  class="Block__ui_margin-top_xs--r1Ttq Block__ui_padding-top_m--1hsuw Block__ui_padding-right_m--2vDnM Block__ui_padding-bottom_m--2Ys0i Block__ui_padding-left_m--x0XiU"
  style="background-color: rgb(255, 255, 255);">
  <!-- <script
    type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","address":{"@type":"PostalAddress","streetAddress":"ул. Базовая 17, индекс 65033","addressLocality":"Одеса","addressRegion":"Одеська область","addressCountry":{"@type":"Country","name":"Україна"}},"url":"https://toolshome.com.ua/ua/","name":"TOOLS FOR HOME","email":"toolsforhomee@gmail.com"}</script> -->
  <div class="UserContent__root--vmWEL">
    <div>

      <div class="m-body">
        <div class="m-header">
          <div class="header-image"><img src="assets/girl1.jpg" >
            <button mat-raised-button color="accent" class="header-image-absolute" [routerLink]="'/' + lang + '/produts'">{{"prod" | translate}}</button>
          </div>
          <!-- <div class="m-header-block"> -->
          <!-- <div class="m-header-logo"><strong></strong></div>
  <div class="m-header-logo">+38 (098) 263-22-33</div>
  <h2 class="m-header-title">ПРОФЕСІЙНІ<br>
  ІНСТРУМЕНТИ ДЛЯ ДОМУ</h2>
  <div class="m-header-text">А також запасні частини та витратні матеріали</div> -->
          <!-- <a class="base-btn" href="https://toolshome.com.ua/g97503922-shurupoverty-dreli" target="_self">Відкрити каталог</a></div> -->
          <!-- </div> -->
          <br>
          <br>
          <h3 class="base__title">{{"perevagi" | translate}}</h3>
          <div class="row">
            <div class="asset-item">
              <div class="asset-ico"><img src="assets/bk.png" style=" width: 80px; height: 80px;"></div>
              <div class="asset-text">{{"post" | translate}}</div>
            </div>
            <div class="asset-item">
              <div class="asset-ico"><img src="assets/box.png" style=" width: 80px; height: 100px;"></div>
              <div class="asset-text">{{"choose" | translate}}</div>
            </div>
            <div class="asset-item">
              <div class="asset-ico"><img src="assets/pay.png" style=" width: 80px; height: 80px;"></div>
              <div class="asset-text">{{"cini" | translate}}</div>
            </div>
            <div class="asset-item">
              <div class="asset-ico"><img src="assets/work.png" style=" width: 80px; height: 80px;"></div>
              <div class="asset-text">{{"custom" | translate}}</div>
            </div>
          </div>
          <section class="shema-section">
            <h3 class="base__title">{{"kak" | translate}}</h3>
            <div class="row">
              <div class="shema-item">
                <div class="shema-ico"><img src="https://i.postimg.cc/Ghpt3mmP/ico-5.png"></div>
                <div class="shema-item-text">{{"zayavka" | translate}}</div>
              </div>
              <div class="shema-item">
                <div class="shema-ico"><img src="https://i.postimg.cc/2Sb5v9vV/ico-6.png"></div>
                <div class="shema-item-text">{{"utoch" | translate}}</div>
              </div>
              <div class="shema-item">
                <div class="shema-ico"><img src="https://i.postimg.cc/MpCpY0bt/ico-7.png"></div>
                <div class="shema-item-text">{{"zbor" | translate}}</div>
              </div>
              <div class="shema-item">
                <div class="shema-ico"><img src="https://i.postimg.cc/fLZWGwP9/ico-8.png"></div>
                <div class="shema-item-text">{{"garant" | translate}}</div>
              </div>
            </div>
            <!-- <img class="shema-image-1" src="https://i.postimg.cc/Jzk1tDVX/img-1.png"> <img class="shema-image-2"
              src="https://i.postimg.cc/ryfyH2ND/img-2.png"> -->
          </section>
          <div class="row why-row">
            <div class="why-image"><img src="assets/girl2.jpg"></div>
            <div class="why-block">
              <h3 class="base__title">{{"why" | translate}}</h3>
              <div class="why-item">{{"tov" | translate}}</div>
              <div class="why-item">{{"xz" | translate}}</div>
              <div class="why-item">{{"kons" | translate}}</div>
              <div class="why-item">{{"opit" | translate}}</div>
            </div>
          </div>
        </div>
      </div>
