<div data-qaid="about_us_content"
  class="Block__ui_margin-top_xs--r1Ttq Block__ui_padding-top_m--1hsuw Block__ui_padding-right_m--2vDnM Block__ui_padding-bottom_m--2Ys0i Block__ui_padding-left_m--x0XiU"
  style="background-color: rgb(255, 255, 255);">
  <!-- <script
    type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","address":{"@type":"PostalAddress","streetAddress":"ул. Базовая 17, индекс 65033","addressLocality":"Одеса","addressRegion":"Одеська область","addressCountry":{"@type":"Country","name":"Україна"}},"url":"https://toolshome.com.ua/ua/","name":"TOOLS FOR HOME","email":"toolsforhomee@gmail.com"}</script> -->
  <div class="UserContent__root--vmWEL">
    <div>

      <div class="m-body">
        <div class="m-header">
          <div class="header-image"><img src="assets/girl1.jpg" style="width: 100%; height: 80vh;">
            <button mat-raised-button color="accent" class="header-image-absolute" routerLink="/produts">Товари</button>
          </div>
          <!-- <div class="m-header-block"> -->
          <!-- <div class="m-header-logo"><strong></strong></div>
  <div class="m-header-logo">+38 (098) 263-22-33</div>
  <h2 class="m-header-title">ПРОФЕСІЙНІ<br>
  ІНСТРУМЕНТИ ДЛЯ ДОМУ</h2>
  <div class="m-header-text">А також запасні частини та витратні матеріали</div> -->
          <!-- <a class="base-btn" href="https://toolshome.com.ua/g97503922-shurupoverty-dreli" target="_self">Відкрити каталог</a></div> -->
          <!-- </div> -->
          <br>
          <br>
          <h3 class="base__title">Наші <span>переваги</span></h3>
          <div class="row">
            <div class="asset-item">
              <div class="asset-ico"><img src="assets/bk.png" style=" width: 80px; height: 80px;"></div>
              <div class="asset-text">Ми прямий постачальник посуду з оніксу та яшми, одягу та електроніки</div>
            </div>
            <div class="asset-item">
              <div class="asset-ico"><img src="assets/box.png" style=" width: 80px; height: 100px;"></div>
              <div class="asset-text">Великий вибір товарів</div>
            </div>
            <div class="asset-item">
              <div class="asset-ico"><img src="assets/pay.png" style=" width: 80px; height: 80px;"></div>
              <div class="asset-text">Привабливі ціни на весь асортимент</div>
            </div>
            <div class="asset-item">
              <div class="asset-ico"><img src="assets/work.png" style=" width: 80px; height: 80px;"></div>
              <div class="asset-text">Якісний підбір продукції під вимоги покупця</div>
            </div>
          </div>
          <section class="shema-section">
            <h3 class="base__title">Як зробити замовлення?</h3>
            <div class="row">
              <div class="shema-item">
                <div class="shema-ico"><img src="https://i.postimg.cc/Ghpt3mmP/ico-5.png"></div>
                <div class="shema-item-text">Заявка на сайті або за телефоном</div>
              </div>
              <div class="shema-item">
                <div class="shema-ico"><img src="https://i.postimg.cc/2Sb5v9vV/ico-6.png"></div>
                <div class="shema-item-text">Уточнення деталей і підтвердження замовлення</div>
              </div>
              <div class="shema-item">
                <div class="shema-ico"><img src="https://i.postimg.cc/MpCpY0bt/ico-7.png"></div>
                <div class="shema-item-text">Ми збираємо ваше замовлення й відправляємо його</div>
              </div>
              <div class="shema-item">
                <div class="shema-ico"><img src="https://i.postimg.cc/fLZWGwP9/ico-8.png"></div>
                <div class="shema-item-text">Ви отримуєте гарантію на всі товари</div>
              </div>
            </div>
            <!-- <img class="shema-image-1" src="https://i.postimg.cc/Jzk1tDVX/img-1.png"> <img class="shema-image-2"
              src="https://i.postimg.cc/ryfyH2ND/img-2.png"> -->
          </section>
          <div class="row why-row">
            <div class="why-image"><img src="assets/girl2.jpg"></div>
            <div class="why-block">
              <h3 class="base__title">Чому варто<br>
                <span>купувати у нас? </span>
              </h3>
              <div class="why-item">Всі товари на сайті є в наявності, тому посилка вам піде вже на наступний день</div>
              <div class="why-item">Ми не змінюємо ціни, озвучені на сайті в день покупки, навіть якщо вони змінилися у
                виробника, і ми повинні будемо продавати без заробітку</div>
              <div class="why-item">Наші консультанти відмінно розбираються у всіх товарах, представлених на сайті, тому
                можете бути впевнені в тому, що вам допоможуть з вибором</div>
              <div class="why-item">Маємо великий досвід роботи, за цей час обслужили більше ніж 700 клієнтів</div>
            </div>
          </div>
        </div>
      </div>