<div class="cs"><a class="cs-online-edit__link" data-edit-role="returnPolicy" title="Изменить условия возврата"
        style="display:none"></a><a class="cs-online-edit__horizontal-borders" data-edit-role="returnPolicy"
        style="display:none"></a><a class="cs-online-edit__vertical-borders" data-edit-role="returnPolicy"
        style="display:none"></a>
    <div class="b-user-content">
        <p>
            Компанія здійснює повернення та обмін товарів належної якості згідно
            Закону <a href="http://zakon2.rada.gov.ua/laws/show/1023-12" target="_blank" rel="nofollow">«Про захист прав
                споживачів»</a>.</p>
        <h3>Сроки повернення і обміну</h3>
        <p class="qa-return-days">Повернення та обмін товарів можливий протягом <b>14 днів</b> після отримання товару
            покупцем.</p>
        <p><b>Зворотня доставка товарів</b> здійснюється за рахунок покупця.</p>
        <h3>Умови повернення для товарів належної якості</h3>
        <p>Ви можете повернути товар або обміняти його, якщо:</p>
        <ul>
            <li>
                товар не був у вживанні і не має слідів
                використання споживачем: подряпин, сколів,
                потертостей, плям і т.п.;
            </li>
            <li>
                товар повністю укомплектований і збережена фабрична
                упаковка;
            </li>
            <li>збережені всі ярлики і заводське маркування;</li>
            <li>
                товар зберігає товарний вигляд і свої споживчі
                властивості.
            </li>
        </ul>
        <p>
            Згідно із Законом <a href="http://zakon2.rada.gov.ua/laws/show/1023-12" target="_blank" rel="nofollow">«Про
                захист прав споживачів»</a>,
            компанія може відмовити споживачеві в обміні та поверненні
            товарів належної якості, якщо вони відносяться до
            категорій, що зазначені у чинному
            <a href="http://zakon2.rada.gov.ua/laws/show/172-94-%D0%BF" target="_blank" rel="nofollow">Переліку
                непродовольчих товарів
                належної якості, не підлягають поверненню та обміну</a>.
        </p>
        З питань обміну та повернення звертатися за телефоном: +38(050)-074-03-11
        <p>

            Товар, який підлягає обміну чи поверненню, повинен прийти на відділення Нової Пошти БЕЗ оголошеної вартості.
            Зворотню доставку оплачує клієнт (у разі неоплати доставки вона утримується з суми, яка буде повернута).
            Після
            отриманням нами товару він перевір'яється на складі працівниками та після цього повертаються кошти на картку
            покупця впродовж 5-7 днів після отримання товару.
        </p>
        <h3>Процедура повернення та обміну товару</h3>
        <p>
            Разом із товаром споживач надсилає на адресу продавця такі документи:

            заповнена форма заяви на повернення
            гарантійний талон (за наявності)
            документ, що підтверджує оплату товару (товарний чек, електронна квитанція).
            За виконання вищевказаних вимог та наявності підстав товар підлягає обміну та/або кошти за товар
            повертаються протягом 7 календарних днів.
            <br>
            <br>

            Повернення товару здійснюється за рахунок Покупця за адресою: ___________________________.
            <br>
            <br>
            При отриманні товару Покупець зобов'язується перевірити товар на наявність пошкоджень, а також наявність
            комплекту необхідних документів (товарний чек, гарантійний талон, акт приймання-передачі) та за відсутності
            на місці пред'явити претензії до служби доставки. У разі виникнення запитань та для більш детальної
            консультації звертайтесь за контактними номерами телефонів, зазначеними на цьому сайті.
        </p>
    </div>
</div>