<div class="cs"><a class="cs-online-edit__link" data-edit-role="returnPolicy" title="Изменить условия возврата"
        style="display:none"></a><a class="cs-online-edit__horizontal-borders" data-edit-role="returnPolicy"
        style="display:none"></a><a class="cs-online-edit__vertical-borders" data-edit-role="returnPolicy"
        style="display:none"></a>
    <div class="b-user-content">
        <p>
           {{"back1" | translate}}<a href="http://zakon2.rada.gov.ua/laws/show/1023-12" target="_blank" rel="nofollow">«{{"back2" | translate}}»</a>.</p>
        <h3>{{"back3" | translate}}</h3>
        <p class="qa-return-days">{{"back4" | translate}} <b>{{"14" | translate}}</b> {{"back5" | translate}}.</p>
        <p><b>{{"back6" | translate}}</b> {{"back7" | translate}}.</p>
        <h3>{{"back8" | translate}}</h3>
        <p>{{"back9" | translate}}</p>
        <ul>
            <li>
                {{"back10" | translate}}
            </li>
            <li>
                {{"back11" | translate}}
            </li>
            <li>{{"back12" | translate}}</li>
            <li>
                {{"back13" | translate}}
            </li>
        </ul>
        <p>
            {{"back14" | translate}} <a href="http://zakon2.rada.gov.ua/laws/show/1023-12" target="_blank" rel="nofollow">«{{"back2" | translate}}»</a>,
            {{"back15" | translate}}
            <a href="http://zakon2.rada.gov.ua/laws/show/172-94-%D0%BF" target="_blank" rel="nofollow">{{"back16" | translate}}</a>.
        </p>
       {{"back17" | translate}}
        <p>

            {{"back18" | translate}}
        </p>
        <h3>{{"back19" | translate}}</h3>
        <p>
            {{"back20" | translate}}
            <br>
            <br>

            {{"back21" | translate}} ___________________________.
            <br>
            <br>
            {{"back22" | translate}}
        </p>
    </div>
</div>