<section class="cs">
    <!-- <h1 class="cs-title  "><span class="cs-title__page-content">Умови доставки та оплати</span></h1>
    <div class="cs-delivery-info cs-page__item-background">
        <div class="cs-delivery-info__text cs-online-edit"><a class="cs-online-edit__link" data-edit-role="deliveryInfo"
                title="Настроить способы доставки" style="display:none"></a><a
                class="cs-online-edit__horizontal-borders" data-edit-role="deliveryInfo" style="display:none"></a><a
                class="cs-online-edit__vertical-borders" data-edit-role="deliveryInfo" style="display:none"></a>
            <h4 class="cs-delivery-info__title"><span>Способи доставки</span></h4>
            <ul class="cs-delivery-info__list">
                <li class="cs-delivery-info__item"><span class="cs-delivery-info__caption">Доставка "Самовивіз"</span>
                </li>
                <li class="cs-delivery-info__item"><span class="cs-delivery-info__caption">Доставка "Нова
                        Пошта"</span></li>
                <li class="cs-delivery-info__item"><span class="cs-delivery-info__caption">Доставка "MeestExpress"</span>
                </li>
            </ul>
        </div> -->
        <div class="cs-delivery-info__text cs-online-edit"><a class="cs-online-edit__link" data-edit-role="paymentInfo"
                title="Настроить способы оплаты" style="display:none"></a><a class="cs-online-edit__horizontal-borders"
                data-edit-role="paymentInfo" style="display:none"></a><a class="cs-online-edit__vertical-borders"
                data-edit-role="paymentInfo" style="display:none"></a>
            <h4 class="cs-delivery-info__title"><span>{{"oplata" | translate}}</span></h4>
            <ul class="cs-delivery-info__list">
                <li class="cs-delivery-info__item"><span class="cs-delivery-info__caption">{{"np" | translate}}</span></li>
                        <li class="cs-delivery-info__item"><span class="cs-delivery-info__caption">{{"meest" | translate}}</span></li>
                <li class="cs-delivery-info__item"><span class="cs-delivery-info__caption">Оплата за
                        {{"rek" | translate}}</span> <span></span><span class="cs-delivery-info__comment h-pre-wrap"> 5375 4114
                        1558 6150 Самсоненко Данило Романович
                    </span></li>
                <li class="cs-delivery-info__item"><span class="cs-delivery-info__caption">{{"got" | translate}}</span></li>
                <li class="cs-delivery-info__item"><span class="cs-delivery-info__caption">Онлайн-оплата {{"cartPay" | translate}} Visa,
                        Mastercard</span></li>
            </ul>
        </div>
    <!-- </div> -->
</section>